# 6.5.2 Create Heatmaps for Weather Parameters

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lorengau,PG,2021-10-20 16:08:48,-2.0226,147.2712,80.94,78,63,5.59
1,1,Pevek,RU,2021-10-20 16:08:49,69.7008,170.3133,18.25,94,100,14.56
2,2,Atuona,PF,2021-10-20 16:08:49,-9.8000,-139.0333,76.05,84,25,11.92
3,3,Lavrentiya,RU,2021-10-20 16:08:50,65.5833,-171.0000,24.30,92,75,6.26
4,4,Vila Velha,BR,2021-10-20 16:08:50,-20.3297,-40.2925,67.95,88,75,11.50

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

#### The logic process
1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
6. Call the figure to plot the data.
fig

### Max temp

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# If you have a maximum temperature that is less than 0 °F, then you will get an InvalidWeightException 
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list.

# using list comprehension
#temps = [max(temp, 0) for temp in max_temp]

temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# or
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Humidity

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Cloudiness

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Wind Speed

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lorengau,PG,2021-10-20 16:08:48,-2.0226,147.2712,80.94,78,63,5.59
2,2,Atuona,PF,2021-10-20 16:08:49,-9.8000,-139.0333,76.05,84,25,11.92
7,7,Hithadhoo,MV,2021-10-20 16:08:51,-0.6000,73.0833,81.66,77,71,11.83
8,8,Saint-Philippe,RE,2021-10-20 16:08:52,-21.3585,55.7679,74.79,80,50,9.10
9,9,Greece,US,2021-10-20 16:08:52,43.2098,-77.6931,71.46,56,20,5.01
10,10,Hilo,US,2021-10-20 16:05:52,19.7297,-155.0900,79.29,77,90,3.44
11,11,Souillac,MU,2021-10-20 16:08:53,-20.5167,57.5167,74.35,76,15,10.58
18,18,Vaini,TO,2021-10-20 16:05:29,-21.2000,-175.2000,71.76,88,20,9.22
22,22,Albany,US,2021-10-20 16:06:23,42.6001,-73.9662,70.16,60,29,1.99
25,25,Hambantota,LK,2021-10-20 16:08:59,6.1241,81.1185,77.34,100,20,3.44

### Drop rows with any null values

In [14]:
preferred_cities_df = preferred_cities_df.dropna(axis=0, how="any", inplace=False)

In [15]:
preferred_cities_df.count()

City_ID       224
City          224
Country       224
Date          224
Lat           224
Lng           224
Max Temp      224
Humidity      224
Cloudiness    224
Wind Speed    224
dtype: int64

# 6.5.4 Map Vacation Criteria

In [16]:
#hotel_df = preferred_cities_df

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Lorengau      PG     80.94  -2.0226  147.2712
2           Atuona      PF     76.05  -9.8000 -139.0333
7        Hithadhoo      MV     81.66  -0.6000   73.0833
8   Saint-Philippe      RE     74.79 -21.3585   55.7679
9           Greece      US     71.46  43.2098  -77.6931
10            Hilo      US     79.29  19.7297 -155.0900
11        Souillac      MU     74.35 -20.5167   57.5167
18           Vaini      TO     71.76 -21.2000 -175.2000
22          Albany      US     70.16  42.6001  -73.9662
25      Hambantota      LK     77.34   6.1241   81.1185

## Retrieve Hotels from a Nearby Search

Search params:
- API key
- Latitude and longitude
- 5,000-meter radius
- Type of place

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"
}
params

{'radius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyByaRl3z3Sa51puZCJUsZNMiguD5zb6uuc',
 'location': '48.8566, 2.3522'}

In [32]:
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

print(len(hotels['results']))
#hotels['results'][0]

20

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("NOT FOUND")

NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lorengau,PG,80.94,-2.0226,147.2712,Lorengau Harbourside Hotel
2,Atuona,PF,76.05,-9.8000,-139.0333,Villa Enata
7,Hithadhoo,MV,81.66,-0.6000,73.0833,Scoop Guest House
8,Saint-Philippe,RE,74.79,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Greece,US,71.46,43.2098,-77.6931,"Homewood Suites by Hilton Rochester/Greece, NY"
10,Hilo,US,79.29,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Souillac,MU,74.35,-20.5167,57.5167,Shanti Maurice Resort & Spa
18,Vaini,TO,71.76,-21.2000,-175.2000,Keleti Beach Resort
22,Albany,US,70.16,42.6001,-73.9662,
25,Hambantota,LK,77.34,6.1241,81.1185,Bungalow 63

## Maximum Temperature Heatmap

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))